.he {
    padding: 3rem 2rem;
}

.he-3 {
    background-color: #baa5e1;
}

.he-2 {
    background-color: #9978d3;
}

.he-1 {
    background-color: #764bc4;
}

.header p {
    margin: 0;
}

.header ul {
    margin: 2.5rem 0;
    list-style: none;
}

.header li {
    display: inline-block;
    padding: .3rem 1.5rem;
    margin: 0.4rem 1rem;
    text-transform: uppercase;
    border: 1px solid #4f4f4f;
    cursor: pointer;
    font-family: 'Roboto';

    transition: all .3s ease 0s;
}

.header li:focus {
    outline: none;
}

.header li:hover {
    background: #7f7f7f;
    border: 1px solid #fff;
}

.header li:hover a {
    color: #fff;
}

.header li a {
    color: #4f4f4f;
    text-decoration: none;
}

.title {
    font-family: 'Roboto';
    font-size: 3rem;
    color: #fff;
}

.subtitle {
    color: #efffff;
    font-size: 1.35rem;
}

.row, .col {
    width: 100%;
    margin: 0;
}

.container .col {
    padding: 3rem 0;
}

.vertical-center {
  min-height: calc(100% - 95px);  /* Fallback for browsers do NOT support vh unit */
  min-height: calc(100vh - 95px); /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}