<div class="project-wrapper">
  <div class="project-details">
    <h4>{{ project.title }}</h4>
    <p>
      {{ project.description }}
    </p>
    <a routerLink="/{{ project.title }}"
      ><span>View project</span>
      <svg
        width="32"
        height="32"
        viewBox="0 0 48 48"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M35.1 32.95L32.95 30.85L38.25 25.55H6V22.55H38.3L33 17.25L35.1 15.15L44 24.05L35.1 32.95Z"
          fill="currentColor"
        /></svg
    ></a>
  </div>

  <figure
    class="project-thumbnail"
    *ngIf="project.thumbnail; else thumbnailPlaceholder"
  >
    <img src="{{ project.thumbnail }}" alt="{{ project.title }}" />
  </figure>

  <ng-template #thumbnailPlaceholder>
    <figure class="image-placeholder"></figure
  ></ng-template>
</div>
