.project-card {
  width: 100%;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 0;
}

@media (min-width: 576px) {
  .project-list {
    padding: 8rem 0;
  }
}
