/* IMPORTS */
@import '../../assets/css/variables.scss';


/* VARIABLES */
$card-height: 350px;
$card-margin: 2px;


/* STYLES */
.tags {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $font-color-primary;
}

.project-card {
    width: 32%;
    min-width: 300px;
    margin: $card-margin;
}

/* MEDIA QUERIES */
@media (max-width: $medium) {
    .project-card {
        width: 100%;
        margin: $card-margin 0;
    }
}
