.container {
    margin-bottom: 50px;
}

.project-card-wrapper {
    margin: 0;
    top: 0;
    padding: 2rem;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.project-card img,
.project-card {
    width: 100%;
    min-height: 500px;
    transition: all .5s ease 0s;
    margin: 0;
    overflow: hidden;
}

.project-card-title {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.2rem;

}

.project-card img {
    height: auto;
    transform: scale(1) rotate(0deg);
    filter: brightness(40%) blur(0px);
    object-fit: cover;
    object-position: center;
}

.project-card:hover img {
    filter: brightness(100%) blur(3px);
    transform: scale(1.03);
}

.project-card:hover .project-card-title {
    color: #000;
}

$descriptionHeight: 400px;

.project-card:hover .project-card-description {
    margin: -2rem;
}

.project-card-description {
    margin: -2rem -2rem calc(-2rem - #{$descriptionHeight}) -2rem ;
    bottom: 2rem;
    padding: 2rem;
    width: 100%;
    height: $descriptionHeight;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .5s ease 0s;
}

.project-card-description p {
    color: #fff;
}

@media (max-width: 576px) {
    .container {
        margin-bottom: 0;
    }
}