.nav-master {
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
    background-color: #fff;
}

.nav-item {
    padding: 25px 20px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.1rem;
    /*color: #3B3B3B !important;*/
}

/*.nav-item .nav-link {
    color: #3B3B3B;
}*/

.nav-item:hover .nav-link {
    /*color: #8e8e8e;*/
    transition: all .3s ease 0s;
}

.box-shadow {
    box-shadow: 0 -0.15rem .6rem rgba(0, 0, 0, .3);
}

[role="main"] {
    margin: 150px 0 50px 0;
}

.navbar-toggler {
    border: none;
    margin: auto;
}

.navbar-toggler-icon {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .nav-master {
        padding: 25px;
    }

    [role="main"] {
        margin-top: 90px;
    }
}