.nav-master {
    padding: 0;
    text-align: center;
    background-color: #fff;
}

.nav-item {
    padding: 25px 20px;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 1.1rem;
    /*color: #3B3B3B !important;*/
}

.nav-item a {
    color: #A9AFBB;
}

a.active {
    color: rgba(0, 0, 0, .65) !important;
}

/*.nav-item .nav-link {
    color: #3B3B3B;
}*/

.nav-item:hover .nav-link {
    /*color: #8e8e8e;*/
    transition: all .3s ease 0s;
}

.box-shadow {
    box-shadow: 0 -0.15rem .6rem rgba(0, 0, 0, .3);
}

[role="main"] {
    margin: 93px 0 0 0;
    height: calc(100% - 93px);
    height: calc(100vh - 93px);
}

.navbar-toggler {
    border: none;
    margin: auto;
}

.navbar-toggler-icon {
    font-size: 1.5rem;
}

.row {
    width: 100%;
    margin: 0;
}

.footer {
    background-color: #4f5faf;
    padding: 2.5rem 4rem;
    color: #fff;
}

@media (max-width: 576px) {
    .nav-master {
        padding: 25px;
        margin: 0;
    }

    [role="main"] {
        margin: 0;
    }

    .fixed-top {
        position: relative;
    }
}