main {
  margin: 30px;
  overflow: hidden;
  position: relative;
  animation-name: mainbackground;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes mainbackground {
  from {
    background-color: #f5f5f5;
    box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.25);
  }
  to {
    background-color: #fff;
    box-shadow: 0 0 40px -20px rgb(0, 0, 0, 0.25);
  }
}

.map-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.outer-map {
  width: 100%;
  height: 800px;
  display: block;
  position: absolute;
  top: 0;
  right: 24px;
  transform: translateX(40%);
  z-index: -1;
  color: #a2a2a2;
}

.navbar {
  height: var(--navbar-height);
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      height: var(--navbar-height);
      line-height: var(--navbar-height);
      vertical-align: middle;
      margin-right: 4rem;

      a {
        font-size: 0.8em;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--font-color-primary);
      }

      a.active {
        font-weight: 600;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  &__toggler {
    display: none;
    margin: 0 auto;
    border: none;
    background: none;
    cursor: pointer;

    path {
      fill: var(--font-color-primary);
    }
  }
}

.box-shadow {
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .navbar {
    height: auto;

    &__toggler {
      display: block;
      height: var(--navbar-height);
    }

    ul {
      flex-direction: column;
      align-items: center;

      li {
        margin: 0;
      }
    }

    .navbar-collapse {
      max-height: 0;
      overflow: hidden;
    }
  }
}
