<a routerLink="/" class="home-link">
  <svg
    width="32"
    height="32"
    viewBox="0 0 48 48"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M35.1 32.95L32.95 30.85L38.25 25.55H6V22.55H38.3L33 17.25L35.1 15.15L44 24.05L35.1 32.95Z"
      fill="currentColor"
    /></svg
></a>

<div class="container">
  <header>
    <h1>{{ project.title }}</h1>
    <h2>{{ project.content }}</h2>
  </header>

  <div class="details">
    <h5>Role</h5>
    <p>{{ project.role }}</p>
  </div>

  <div class="details" *ngIf="project.client">
    <h5>Client</h5>
    <a [href]="project.client.link" target="_blank">{{
      project.client.name
    }}</a>
  </div>

  <div class="details">
    <h5>Link</h5>
    <a [href]="project.link" target="_blank">{{ project.link }}</a>
  </div>

  <p class="challenges">{{ project.challenges }}</p>
</div>

<next-project *ngIf="nextProject" [project]="nextProject"></next-project>
