.view {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-display {
  max-width: 60%;
  height: 100%;
  height: calc(100vh - var(--navbar-height));
  object-fit: cover;
  object-position: middle;
  position: absolute;
  right: 0;
  z-index: -1;

  &--fit-img {
    width: 100%;
    height: auto !important;
    object-fit: fit !important;
  }
}

.content {
  width: 40%;
  color: var(--font-color-primary);
  font-family: "Source Sans Pro", sans-serif;

  &__wrapper {
    padding: 2.5rem 2rem;
    color: #4f4f4f;
  }

  &__description {
    text-align: justify;
    font-size: 1.05em;
    line-height: 1.5;
  }

  &__picture img {
    max-width: 150px;
    max-height: 150px;
    margin: 0 2px 2px 0;
    display: inline-block;
    cursor: pointer;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
    background-color: transparent;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 2rem;
  }

  h4 {
    margin: 1rem 0;
    font-size: 20px;
  }

  ul {
    li {
      margin: 0.5rem 0;
    }
  }
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
  .img-display {
    max-height: 250px;
  }
}

@media (max-width: var(--large)) {
  .img-display {
    max-width: 100%;
    max-height: 400px;
    object-position: top;
    position: relative;
    margin: 0 auto;
  }

  .content {
    width: 100%;
  }
}
