<div class="row full-view" *ngIf="project" [@fadeInRight] >
    
    <div class="col-lg-8 p-0" >
        <img [src]="project.thumbnail" class="img-fluid" alt=""/>
    </div>    
    <div class="col-lg-4">
        <div class="project-wrapper">
            <p class="project-title">
                {{ project.title }}
            </p>
            <p class="project-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nibh sit amet nisl auctor faucibus ac a sapien. Nunc sit amet dapibus odio, eu ultricies est. Donec eu blandit tellus, nec rutrum sapien. Integer felis lectus, faucibus ut auctor et, accumsan a est. Proin nec tortor dolor. Suspendisse non suscipit ante. In eu nisl ut libero consectetur tempus. Donec vehicula efficitur libero eu auctor. Nam et velit vitae magna laoreet vehicula eget sit amet magna. Praesent vel lorem sed sapien laoreet interdum.
            </p>
        </div>
    </div>
</div>