.full-view {
    margin: -57px 0 0 0;
    height: calc(100vh - 93px);
    width: 100%;
    padding: 0;
    overflow-x: hidden;
}

img {
    height: calc(100vh - 93px);
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
}

.project-wrapper {
    padding: 3rem 2rem;
    color: #4F4F4F;
}

.project-title {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: bold;
}

.project-description {
    text-align: justify;
}

@media (max-width: 576px) {
    .header img {
        height: 250px;
        object-position: top;
    }
}

@media (max-width: 992px) {
    .header img {
        height: 400px;
        object-position: top;
    }
}