/* IMPORTS */
/*@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';*/
@import '/assets/css/variables.scss';

/* FONTS */
@font-face {
  font-family: SourceSansPro;
  src: url(assets/fonts/SourceSansPro-Regular.ttf) format("opentype");
}

@font-face {
  font-family: SourceSansProLight;
  src: url(assets/fonts/SourceSansPro-Light.ttf) format("opentype");
}

/* STYLES */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4F4F4F; 
}

button:focus,
img:focus,
div:focus {
    outline: 0;
}

/* Flex Utils */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

/* Grid Utils */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Media Queries */
@media (min-width: $small) {
    .container {
        width: 540px;
    }
}

@media (min-width: $medium) {
    .container {
        width: 720px;
    }
}

@media (min-width: $large) {
    .container {
        width: 960px;
    }
}

@media (min-width: $extra-large) {
    .container {
        width: 1140px;
    }
}