@font-face {
  font-family: SourceSansPro;
  src: url(assets/fonts/SourceSansPro-Regular.ttf) format("opentype");
}

@font-face {
  font-family: SourceSansProLight;
  src: url(assets/fonts/SourceSansPro-Light.ttf) format("opentype");
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
}

:root {
  --navbar-height: 90px;
  --font-color-primary: rgba(0, 0, 0, 0.54);
  --link-color: #007bff;
  --extra-large: 1200px;
  --large: 992px;
  --medium: 768px;
  --small: 576px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

button:focus,
img:focus,
div:focus {
  outline: 0;
}

/* Flex Utils */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

/* Grid Utils */
.container {
  width: 100%;
  margin: 0 auto;
}

/* Media Queries */
@media (min-width: var(--small)) {
  .container {
    width: 540px;
  }
}

@media (min-width: var(--medium)) {
  .container {
    width: 720px;
  }
}

@media (min-width: var(--large)) {
  .container {
    width: 960px;
  }
}

@media (min-width: var(--extra-large)) {
  .container {
    width: 1140px;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
