/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: SourceSansPro;
  src: url(assets/fonts/SourceSansPro-Regular.ttf) format("opentype");
}

@font-face {
  font-family: SourceSansProLight;
  src: url(assets/fonts/SourceSansPro-Light.ttf) format("opentype");
}

html { scroll-behavior: smooth; }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4F4F4F; 
}

button:focus,
img:focus,
div:focus {
    outline: 0;
}