h2 {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-secondary);
}

a {
  display: block;
  text-decoration: none;
  color: var(--font-color-primary);

  &:hover .view-project {
    gap: 32px;
  }
}

section {
  background-color: #ededed;
  position: relative;
  overflow: hidden;
}

.view-project {
  font-weight: 500;
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 48px;
  color: var(--text-secondary);
  transition: gap 0.2s;
}
