<div class="home">
  <div [@fadeTrigger]>
    <div class="home__header">
      <p class="title">Oi, eu sou Pedro</p>
      <p class="subtitle">
        Cientista da Computação com experiência em Engenharia de Software e
        Desenvolvimento Web.
      </p>
    </div>
    <ul class="home__call-to-action">
      <li>
        <a href="https://github.com/pedrohov" target="_blank">Meu GitHub</a>
      </li>
      <li routerLink="/projects">
        <a>Ver Projetos</a>
      </li>
    </ul>
    <ul class="home__social-media">
      <li>
        <a href="https://codepen.io/pedrohov/" target="_blank">
          <!-- <fa name="codepen"></fa> -->Codepen
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/pedro-henrique-b5677aa8/"
          target="_blank"
        >
          <!-- <fa name="linkedin"></fa> -->Linkedin
        </a>
      </li>
    </ul>
  </div>
</div>
