h1 {
  font-size: 64px;
  line-height: 78px;
  margin: 0 0 1rem;
  font-weight: 300;
}

h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
  margin-right: 100px;
}

.home {
  width: 100%;
  min-height: 500px;
  height: 100vh;
  display: flex;
  padding: 150px;
  box-sizing: border-box;

  ul {
    text-align: center;
    list-style: none;
    padding: 0;
  }

  &__header {
    max-width: 650px;

    .subtitle {
      font-size: 1.2em;
      color: #7f7f7f;
      color: rgba(255, 255, 255, 0.8);
      margin: 0;
      padding-top: 0.5rem;
      max-width: 400px;
    }
  }

  &__call-to-action {
    margin: 2rem 0;

    li {
      display: inline-block;
      margin: 0.4rem 1rem;
      text-transform: uppercase;
      border: 1px solid #fff;
      border-radius: 4px;
      cursor: pointer;

      transition: background 0.3s ease 0s, border-color 0.3s ease 0s;

      a {
        text-decoration: none;
        color: inherit;
        padding: 0.6em 2rem;
        display: block;
      }
    }

    li:focus {
      outline: none;
    }

    li:hover {
      background: rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0);
    }
  }

  &__social-media {
    margin: 1.5rem 0 0;

    li {
      display: inline-block;
      font-size: 1.2em;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
